<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FligClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FligClient.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FligClient.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>matthewrouse1</value>
            </setting>
            <setting name="RepoDir" serializeAs="String">
                <value>C:\repos\TestRepo</value>
            </setting>
            <setting name="WebApiPath" serializeAs="String">
                <value>http://localhost:18777/</value>
            </setting>
            <setting name="RepoUrl" serializeAs="String">
                <value>http://github.com/matthewrouse1/TestRepo.git</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>matthew.rouse@AdvancedComputerSoftware.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Entropy" serializeAs="String">
                <value />
            </setting>
        </FligClient.Properties.Settings>
        <FligClient.Settings1>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="RepoDir" serializeAs="String">
                <value />
            </setting>
        </FligClient.Settings1>
    </userSettings>
</configuration>